In [1]:
import numpy as np 
import pandas as pd
import pickle

In [2]:
df_train=pd.read_csv('../Datasets/train.csv')

In [3]:
df_train.columns

Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'ADDRESS', 'LONGITUDE',
       'LATITUDE', 'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [4]:
df_train.head(10)

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
5,Owner,0,0,3,BHK,1250.000000,1,1,"South Chittoor,Kochi",10.033280,76.282571,42.0
6,Dealer,0,0,3,BHK,1495.053957,1,1,"Sodala,Jaipur",26.916347,75.795600,66.5
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0

In [5]:
df_train.drop(['POSTED_BY','UNDER_CONSTRUCTION','RERA','BHK_OR_RK','READY_TO_MOVE','ADDRESS'],axis=1,inplace=True)

In [6]:
df_train.head(10)

   BHK_NO.    SQUARE_FT  RESALE  LONGITUDE   LATITUDE  TARGET(PRICE_IN_LACS)
0        2  1300.236407       1  12.969910  77.597960                   55.0
1        2  1275.000000       1  12.274538  76.644605                   51.0
2        2   933.159722       1  12.778033  77.632191                   43.0
3        2   929.921143       1  28.642300  77.344500                   62.5
4        2   999.009247       1  22.592200  88.484911                   60.5
5        3  1250.000000       1  10.033280  76.282571                   42.0
6        3  1495.053957       1  26.916347  75.795600                   66.5
7        3  1181.012946       1  30.740000  76.650000                   52.0
8        2  1040.000000       1  13.054202  77.674002                   41.6
9        2   879.120879       1  12.951610  80.140970                   36.0

In [7]:
x_train=df_train.drop('TARGET(PRICE_IN_LACS)',axis=1)
y_train=df_train['TARGET(PRICE_IN_LACS)']

In [8]:
from sklearn.tree import DecisionTreeRegressor

In [9]:
model=DecisionTreeRegressor()

In [10]:
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [11]:
df_test=pd.read_csv('../Datasets/test.csv')
df_test.drop(['POSTED_BY','UNDER_CONSTRUCTION','RERA','BHK_OR_RK','READY_TO_MOVE','ADDRESS'],axis=1,inplace=True)

In [12]:
test=model.predict(df_test)
test

array([  19.4,   81. ,   70. , ..., 8610. ,   84.4,  250. ])

In [13]:
df_test['target']=test

In [14]:
df_test.head()

   BHK_NO.    SQUARE_FT  RESALE  LONGITUDE   LATITUDE  target
0        1   545.171340       1  21.262000  73.047700    19.4
1        2   800.000000       0  18.966114  73.148278    81.0
2        2  1257.096513       1  22.592200  88.484911    70.0
3        3  1400.329489       1  26.988300  75.584600    35.0
4        1   430.477830       1  22.700000  72.870000     7.5

In [15]:
with open('house_pred_model.pickle', 'wb') as my_model:
  pickle.dump(model, my_model)

In [18]:
with open("./house_pred_model.pickle", "rb") as model:
        loaded_model = pickle.load(model)
result = loaded_model.predict([[1, 500, 1, 21, 57]])
result

array([12.5])